.pic {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 10px;
    background-image: url(//icon.zol-img.com.cn/zj2011/images/zj.2016.png);
}

#cpu_div .pic {
    background-position: -45px -245px;
}

.cate a {
    margin-left: 15px;

}

.cate .active {
    color: white;
    background-color: dodgerblue;

}

.cate a:hover {
    color: white;
    background-color: dodgerblue;

}